body,html{
    overflow: hidden;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    font-weight: 300;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
  }
#MKviewer{
    height: 100vh;
    width: 100vw;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader_spiner{
  position: absolute;
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#loader_spiner img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#MKviewer .logo{
  width: 400px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}
.menu{
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0%;
  padding:0.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu .tabs{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .tabs ._tab{
  padding: 0.3rem 2rem;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 0rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
}
.activ_tab{
  background-color: green;
  color: white;
  border: 1px solid transparent !important;
}
.menu .content{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0rem;
    background-color: #ecebeb;
    margin-top: 0.5rem;
    border-radius: 15px;
}
.menu .content span{
  font-size: 20px;
  padding: 0.2rem 0rem;
}
.menu .content .items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .content .items .item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem;
  padding: 0rem 1rem;
  border-radius: 15px;
  border: 1px solid black;
  cursor: pointer;
}
.menu .content .items .item:hover{
  background-color: white;
}
.menu .content .items .item img{
  width: 100px;
  height: auto;
  padding: 5%;
}
.menu .content .items .item h5{
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 200;
}
.position{
  display: flex;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -20%;
  opacity: 0;
  transform: translateY(-50%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding:0 3rem 3rem ;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 6px rgba(0,0,0,0.37);
-webkit-box-shadow: 1px 2px 10px 6px rgba(0,0,0,0.37);
-moz-box-shadow: 1px 2px 10px 6px rgba(0,0,0,0.37);
  transition: all 1s ease-in-out;
}
.position .content,.position .pos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.position .pos{
  flex-direction: column;
  padding: .2rem .5rem;
  margin: 0 1rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.setting{
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.setting .colors{
  background-color: #ecebeb;
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.2);
-webkit-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.2);
border-radius: 15px;
}
.setting .col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px 0px;
}
.setting .col:hover{
  background-color: white;
  cursor: pointer;
}
.setting .col img{
  width: 50px;
  height: auto;
  margin-top: 5px;
  border-radius: 50%;
}
.setting .col h5{
 margin: 15% 0% 5% 0%;
}
.setting .delete .icons{
  font-size: 40px;
}
.setting .delete .icons:hover{
  color: red;
  cursor: pointer;
}